<div class="col-md-8">
  <h1>Athletes</h1>

  <table class='table table-hover'>
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Eligable</th>
				<th>Bib Number</th>
				<th>School</th>
				<th>Team</th>
			</tr>
		</thead>
		<tbody>
			<% i = 0 %>
		  <% @schools.each do |school| %>
				<% school.teams.each do |team| %>
					<% team.athletes.each do |athlete| %>
						<tr>
							<td><%= i %></td>
							<% i += 1 %>
				    	<td><%= link_to athlete.name, athlete_path(athlete) %></td>
							<td><input type='checkbox' <% if athlete.eligible %> checked <% end %>></td>
							<td><%= athlete.bib_number %></td>
							<td><%= school.abbreviation %> </td>
							<td><%= team.discipline.split("_").map(&:capitalize).join(" ") %></td>
						</tr>
				  <% end %>
				<% end %>
			<% end %>
		</tbody>
  </table>

  <div class="well">
    <h3> New Athlete </h3>
    <form action="<%= athletes_path %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div class="form-group">
        <input type="text" name="athlete[first_name]" placeholder="First Name">
      </div>
      <div class="form-group">
        <input type="text" name="athlete[last_name]" placeholder="Last Name">
      </div>
      <% if current_user.admin %>
      <div class="form-group">
        <select name="athlete[team_id]">
          <% School.all.each do |school| %>
            <% school.teams.each do |team| %>
              <option value="team.id">
                <%= school.abbreviation %>
                <%= team.discipline %>
                <%= team.sex %>
              </option>
            <% end %>
          <% end %>
        </select>
      </div>
      <% end %>
      <div class="form-group">
        <input type="text" name="athlete[bib_number]" placeholder="Bib Number">
      </div>
      <div class="form-group">
        <label>
          <input type='checkbox' checked>
          Eligible
        </label>
      </div>
      <div class="form-group">
        <label>
          <input type="radio" name="athlete[sex]" value="male" checked>
          Male
        </label>
        <label>
          <input type="radio" name="athlete[sex]" value="female">
          Female
        </label>
      </div>
      <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary">
      </div>
    </form>
  </div>
</div>
