<div class='col-md-8'>
	<h1>
    <%= @event.full_race_type %>
    <span class='orange'>|</span>
    <%= @event.discipline.split("_").map(&:capitalize).join(" ") %>
    <span class='orange'>|</span>
    <%= @event.sex.capitalize %>
  </h1>

	<%= link_to "All Meets", meets_path %>

  <%= button_to "Generate Lineup", 
    event_seeding_reports_path(event_id: @event.id), 
    method: :post, 
    class: 'btn btn-primary' %>
	<div class='well'>
    <% @teams.map { |t| t.school }.uniq.each do |school| %>
      <h3> <%= school.name %> </h3>
        <table class='table table-hover'>
          <thead>
            <tr>
              <th>Name</th>
              <th>Eligable</th>
              <th>Bib Number</th>
              <th>USCSA Number</th>
              <th>Seed</th>
            </tr>
          </thead>
          <tbody>
            <% @teams.select { |t| t.school_id == school.id }.each do |team| %>
              <% athlete_count = team.athletes.count %>
              <% team.athletes.each_with_index do |athlete, i| %>
                <% seeded = athlete.seeded(@event.id) %>
                <tr>
                  <td><%= link_to athlete.name, athlete_path(athlete) %></td>
                  <td><%= (athlete.eligible) ? 'Eligible' : 'Not Eligible' %></td>
                  <td><%= athlete.bib_number %></td>
                  <td><%= athlete.uscsa_number %></td>
                  <td>
                    <div class="form-group">
                      <select name="athlete[seed_num]" class='seed-number' data-seeded='<%= seeded %>'>
                        <option
                          value="-1"
                          <%= 'selected' if seeded == -1 %>
                          data-athlete-id='<%= athlete.id %>'>
                          Not Racing
                        </option>
                        <% athlete_count.times do |x| %>
                          <option
                            value="<%= x %>"
                            <%= 'selected' if seeded == x %>
                            data-athlete-id='<%= athlete.id %>'>
                            <%= x + 1 %>
                          </option>
                        <% end %>
                      </select>
                    </div>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
		<% end %>
	</div>
</div>

<script>
	$(function() {
		$('.seed-number').change(function(event) {
      var $select = $(event.currentTarget);
			var seedVal = $select.find("option:selected").val();
			var athleteId = $select.find("option:selected").data('athlete-id');

	    $.ajax({
        url: '<%= event_seeds_path(@event) %>',
        data: {
          seeded: seedVal,
          athlete_id: athleteId
        },
				type: "POST",
				success: function() {
					$select.data('seeded', seedVal);
				},
				error: function() {
					$select.find("option:selected").attr("selected", "");
					$select.find("option[value="+ $select.data('seeded') +"]").attr("selected", "selected");
				}
	    });
		});
	});
</script>
