<div class='col-md-8'>
	<h1> <%= @event.full_race_type %> <span class='orange'>|</span> <%= @event.discipline.split("_").map(&:capitalize).join(" ") %> <span class='orange'>|</span> <%= @event.sex.capitalize %> </h1>
	<%= link_to "All Meets", meets_path %>
	<div class='well'>
		<form action='<%= edit_seed_url(@event) %>' method='post'>
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
			<% if @team %>
				<div class='form-group'>
					<select name="user[athlete_id]" class="form-control">
						<% @team.athletes.each do |athlete| %>
							<option value="<%= athlete.id %>"><%= athlete.name %></option>
						<% end %>
					</select>
				</div>
			<% else %>
				<!-- TODO: make jbuilder -->
				<% School.includes(:teams, :athletes).all.each do |school| %>
					<h3> <%= school.name %> </h3>
					  <table class='table table-hover'>
							<thead>
								<tr>
									<th>Name</th>
									<th>Eligable</th>
									<th>Bib Number</th>
									<th>USCSA Number</th>
									<th>Seed</th>
								</tr>
							</thead>
							<tbody>
									<% school.teams.each do |team| %>
										<% team.athletes.each_with_index do |athlete, i| %>
											<tr>
									    	<td><%= link_to athlete.name, athlete_path(athlete) %></td>
												<td> <% if athlete.eligible %> Eligable <% else %> Not Eligable <% end %></td>
												<td><%= athlete.bib_number %></td>
												<td><%= athlete.uscsa_number %></td>
												<td>
													<div class="form-group">
														<select name="athlete[seed_num]">
															<% team.athletes.count.times do |x| %>
																<option <% if x == i %> selected <% end %>><%= x %></option>
															<% end %>
															<option> Not Racing </option>
														</select>
													</div>
												</td>
											</tr>
									  <% end %>
									<% end %>
							</tbody>
					  </table>
							<!-- <% school.teams.find_by({ discipline: @event.discipline, sex: @event.sex }).athletes.each do |athlete| %>
								<option value='<%= athlete.id %>'><%= athlete.name %></option>
							<% end %> -->
				<% end %>
			<% end %>
		</form>
	</div>
</div>