<div class="col-md-8">
  <h1>Meets</h1>

  <table class='table table-hover'>
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
        <th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
		  <% @meets.each do |meet| %>
        <tr>
          <td> <%= meet.id %> </td>
          <td> <%= link_to meet.name, meet %> </td>
          <td>
            <%= button_to "Delete",
              meet,
              method: :delete,
              class: "btn btn-xs btn-danger",
              data: { confirm: "Are you sure you want to delete this meet?" } %>
          </td>
        </tr>
		  <% end %>
		</tbody>
  </table>

  <% if current_user.admin %>
  <div class="well">
    <h3> New Meet </h3>

    <form action="<%= meets_path %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <div class="form-group">
        <input type="text" name="meet[name]" placeholder="Name">
      </div>
      <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary">
      </div>
    </form>
  </div>
  <% end %>
</div>
