<div class="col-md-8 col-xs-8">
  <h1><%= @report.event.name %> <small>Lineup</small></h1>

  <ul class="nav nav-pills">
    <li><%= link_to "Regenerate!", @report, method: :patch, class: 'btn btn-primary' %></li>
    <li><%= link_to "CSV", event_seeding_report_path(@report, format: :csv), class: 'btn btn-primary' %></li>
  </ul>

  <table class="table table-hover">
    <thead>
      <tr>
        <th> # </th>
        <th> First Name </th>
        <th> Last Name </th>
        <th> School </th>
        <th> Seeded </th>
      <tr>
    </thead>
    <% @report.heats.each_with_index do |heat, i| %>
      <% if @report.heats.length > 1 %>
        <thead>
          <tr>
            <th colspan="5"> Heat <%= i + 1 %> </th>
          <tr>
        </thead>
      <% end %>
      <tbody>
      <% heat.each_with_index do |athlete, j| %>
        <tr>
          <td> <%= j + 1 %> </td>
          <td> <%= link_to athlete.first_name, athlete_path(athlete.id) %> </td>
          <td> <%= link_to athlete.last_name, athlete_path(athlete.id) %> </td>
          <td> <%= athlete.school_name %> </td>
          <td> <%= athlete.seeded + 1 %> </td>
        </tr>
      <% end %>
      </tbody>
    <% end %>
  </table>
</div>
