<div class="col-sm-4 col-md-3 sidebar-wrapper">
  <div class="list-group sidebar-nav">
    <span href="#" class="avatar list-group-item active">
      <%= image_tag "sccsc_logo.jpg", class: 'logo' %>
      <%= current_user.email %>
    </span>
    <a href="<%= meets_path %>" class="list-group-item">
      <i class="fa fa-calendar"></i> Meets
    </a>
    <a href="<%= athletes_path %>" class="list-group-item">
      <i class="fa fa-users"></i> Athletes <span class="badge">14</span>
    </a>
    <a href="<%= captains_path %>" class="list-group-item">
      <i class="fa fa-users"></i> Captains <span class="badge">2</span>
    </a>
    <a href="<%= schools_path %>" class="list-group-item">
      <i class="fa fa-university"></i> Schools
    </a>
    <a href="#" class="list-group-item">
      <i class="fa fa-legal"></i> Officers
    </a>
    <a href="#" class="list-group-item">
      <i class="fa fa-folder-open-o"></i> Reports
    </a>
    <a href="<%= destroy_user_session_path %>"
      data-method="delete"
      class="list-group-item"
      rel="no-follow">
      <i class="fa fa-sign-out"></i> Sign Out
    </a>
  </div>
</div>
